@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #FAF6FF;
}
.logo{
    color: #01996D;
    font-family: Georgia,'Times New Roman', Times, serif;
    padding: 13px 0;
}
/* Estilo del Menu*/
nav{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}
nav > ul{
    display: flex;
    justify-content: center;
    padding: 13px 0;
}
nav > ul > li{
    list-style-type: none;
    margin:0 20px;
}
/* Botones del Menu*/
.sigIn{
    border: none;
    padding: 0 25px;
}
.butonStyle{
    padding: 13px 50px;
    border-radius: 4px;
    border: 1px solid #01996D;
    background-color: #01996D;
    color: #FFF;
}
/* Portada o cabecera*/
.portada{
    background: linear-gradient(113deg, #FFF 18.15%, rgba(255, 255, 255, 0.00) 53.07%), url("/images/Portada.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8.5em;
    height: 50vh;
}
.portada > h3{
    color: #01996D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 0.7em;
    background-color: transparent;
}
.portada p{
    color: #484848;
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 1.7em;
    background-color: transparent;
}
/*Aticulos y/o pasos*/
article{
    padding: 10% 10%;
}
.guias{
    display: grid;
    grid-template-columns: 50% 50%;
}
.guias > div > p{
    color: #424242;
    font-weight: 600;
}
.guias h3{
    color: #01996D;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    font-weight: 700;
}
.introduccion{
    margin: 1em 0 0 2em;
}

.pasos{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 5em;
}

.numeros{
    color: rgba(1, 153, 109, 0.20);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 5.5em;
}
.numeros span{
    color: #000;
    font-size: 0.3em;
    margin-left: -60px;
    background-color: transparent;
}
.pasos div{
    flex: 1 1 100px;
}
.pasos div:nth-child(2){
    padding-top: 10em;
}
.pasos div p:nth-child(2){
    padding: 5em 2em 5em 0;
}
.pasos img{
    width: 20em;
}